<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrandTimerAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <GrandTimerAuto.Properties.Settings>
            <setting name="totalWarehouseSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastCasinoVisit" serializeAs="String">
                <value>2020-04-09</value>
            </setting>
            <setting name="Seconds1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seconds2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seconds3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seconds4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seconds5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seconds6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Seconds7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dailyFees" serializeAs="String">
                <value>8100</value>
            </setting>
            <setting name="checked1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checked2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checked3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checked4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checked5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checked6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checked7" serializeAs="String">
                <value>False</value>
            </setting>
        </GrandTimerAuto.Properties.Settings>
    </userSettings>
</configuration>